.contacttext{
  color: white;
  text-align: center;
}

.contactcontent{
  color: white;
  margin-left: 30%;
  margin-right: 30%;

}

.Chat{
  padding-top: 4%;
}
.Chat h1{
  color: white;
  text-align: center;
}

input{
  width: 100%;
}

textarea{
  width: 100%;
}

/*
.Chat hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 45%;
  margin-right: 45%;
  border-style: inset;
  border-width: 3px;
}
*/
.names{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 1%;
}

.firstname{
  display: flex;
  padding-right: 14px;
}

.lastname{
  display: flex;
  padding-left: 14px;
}
.Email{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.message{
  display: flex;
  justify-content: center;
}

.messsub{
  display: flex;
  flex-direction: column;
}
.Submit{
  display: flex;
  justify-content:flex-end;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}

.firstnamemobile{
  display: none;
}

.lastnamemobile{
  display: none;
}

.Emailmobile{
  display: none;
}

.messagemobile{
  display: none;
}

.contacttextmobile{
  display: none;
}

.Submitmobile{
  display: none;
}
/*-------------------------------------mobile responsive-------------------------------*/

@media screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }

  .firstnamemobile{
    display: flex;
    padding-bottom: 1%;
  }

  .firstname{
    display: none;
  }

  .lastnamemobile{
    display: flex;
    padding-bottom: 1%;
  }

  .lastname{
    display: none;
  }

  .Emailmobile{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5%;
  }

  .Email{
    display: none;
  }

  .names{
    flex-direction: column;
    padding-bottom: 0;
    align-items: center;
  }

  .contactcontent{
    margin-left: 8%;
    margin-right: 8%;
    align-items: center;
  }

  .message{
    display: none;
  }

  .messagemobile{
    display: flex;
    justify-content: center;
  }

  .Submit{
    display: none;
  }

  .Submitmobile{
    display: flex;
    justify-content: center;
  }

  .contacttext{
    display: none;
  }

  .contacttextmobile{
    display: flex;
    text-align: left;
    padding-bottom: 3.5%;
    margin: auto;
    margin-left: 8%;
    margin-right: 8%;
  }

}
