/* ----------------------Footer---------------------------- */
.footer {
  background-color: #363E50;
  color: white;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
 }

.footer-content{
  border-top:1px solid white;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:80%;
}
.footer-section{
  padding: 0 2%;
}
.footer .footer-content .links ul a{
  display: block;
  margin-bottom:10px;
  margin-left: 10px;
  list-style-type: none;
}
.footer li{
  list-style-type: none;
  margin-left: 25px;
}
.footer h1{
  font-family: 'Bitter', serif;
  text-align: left;
  font-size: 18px;
  margin:20px;
  color:#9fc131;
}
.footer h2{
  font-family: 'Bitter', serif;
  margin-top:8%;
  margin-bottom:2%;
  font-size: 15px;
}
.footer .contact h1{
  margin-bottom:0;
}
.footer p{
  font-size:15px;
  margin:17%;
  margin-top:8%;
}
.footer a{
  margin-left:2%;
  text-decoration: none;
  color:white;
}
.footer a:hover {
  color: #9fc131;
}
.footer button{
  border:#9fc131;
  background-color: #9fc131;
  color: white;
  margin-top: 15px;
}
