/*-------------general---------------------------------------------------------------------*/
html{

}

body{
color:white;
margin:0px;
font-family: 'Barlow', sans-serif;
background-color: white;
background-size: 100%;
background-attachment: fixed;
background-image: url("images/LeftT.png")
}

.anchor{
  position:relative;
  top: -75px;
}

.content{
  width: auto;
  background-color: none;
  padding:50px;
  margin:70px 70px 70px 70px; /*change*/
}

/*-------------------------------Navigation---------------------------------------*/
.logo{
  display:block;
  text-align: left;
  margin-left:90px ;
}
.header{
  font-family: 'Barlow', sans-serif;
  z-index:1;
  width:100%;
  top:0px;
}
.header h1{
  color: black;
  margin:0px;
  padding:10px;
  font-size: 1.25em;
}

.topnav{
  font-family: 'Barlow', sans-serif;
  background-color:transparent;
  width: 100%;
  display:grid;
  text-align: right;
  transition:all 0.3s;
  top:0px;
  margin-top:40px;
}
.topnav a{
  font-family: 'Barlow', sans-serif;
  height:auto;
  display: block;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
  color:white;
}
.topnav a:hover {
  background-color: white;
}
.topnav .icon {
  display: none;
}

/*-------------------------------------Footer-------------------------------*/
.footer {
  left:0;
  bottom:0;
  width: 100%;
  background-color: white;
  color: green;
  text-align: center;
 }

/*-------------------------------------Contact Me-------------------------------*/
form{

}
.message{
  width:100px;
}


/*-------------------------------------mobile responsive-------------------------------*/

@media screen and (max-width: 600px) {
  .gallery{
    grid-template-columns: 50% 50%;
  }
}

/*-------------------------------------tablet responsive-------------------------------*/
@media screen and (max-width: 900px) {
  .desktop{
    display:none;
  }
  .row {
      grid-template-columns: auto ;
  }

  .header{
    display:grid;
    grid-template-columns: 30% 20% auto;
    height:50px;
  }

  .topnav{
    width:40%;
    grid-template-columns: auto 60px;
    position:absolute;
    right:0px;
  }
  .topnav a{
    text-align: right;
  }
  .topnav a:not(.active) {
    display: none;
  }
  .topnav a.icon {
    display:block;
    padding:13px 10px 10px 10px;
    margin:0px;
    position: absolute;
    right:15px;
  }
  .topnav.responsive {
    grid-template-columns: auto;
    opacity:.8;
  }
  .topnav.responsive.icon {
    position: absolute;
    right: 15px;
    top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: right;
  }
  .responsive .link{
    margin-right: 60px;
  }
}
/*-------------------------------------desktop responsive-------------------------------*/
@media screen and (min-width: 901px) {
  .mobile{
    display:none;
  }
  .topnav{
    grid-template-columns: 18% 18% 18% 18% 18% auto;
    }
  .topnav a{
    margin: 5px 0;
    }
  .topnav a:not(:first-child){
    }
  .topnav a.icon {
    display:none;
  }
}
