/*-------------general---------------------------------------------------------------------*/
html{
}

body{
color:white;
margin:0px;
background-color: white;

/* #363E50 */
}



.content{
  width:auto;
  margin:20px 20px 20px 80px; /*left one is left margin*/
  }

.contacttext{
  font-family: 'Bitter', serif;

  text-align: center;
  color: black;
}

.contacttext p{
  font-family: 'Open Sans', sans-serif;
}

h3{
  font-family: 'Bitter', serif;
}

.container{
    display: flex;
    border: 1px black solid;
    justify-content: right;
    align-items: right;
}
.contactcontent{

  display: flex;
  align-items: right;
  justify-content: ;
  color: black;
  margin-left: 20%;
  margin-right: 20%;
}
.contactcontent ul{
  list-style: none;
}

.contactcontent label{
  font-family: 'Open Sans', sans-serif;

  margin-left: auto;
  display: inline-block;
  width: 150px;
  line-height: 26px;
  margin-bottom: 10px;
}

.messagetext{
  text-align: center;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}







/*-------------------------------Navigation---------------------------------------*/
.logo{
  display:block;
  text-align: left;
  margin-left:90px ;
}
.header{
  font-family: 'Barlow', sans-serif;
  z-index:1;
  width:100%;
  top:0px;
}

.topnav{
  font-family: 'Barlow', sans-serif;
  background-color:transparent;
  width: 100%;
  display:grid;
  text-align: right;
  margin-top:40px;
}
.topnav a{
  font-family: 'Barlow', sans-serif;
  display: block;
  text-decoration: none;
  font-size: 17px;
  background-color: transparent;
  color:white;
}
.topnav a:hover {
  background-color: white;
}
.topnav .icon {
  display: none;
}

/*-------------------------------------Footer-------------------------------*/
.footer {
  position:fixed;
  bottom:0;
  width: 100%;
  background-color: white;
  color: #363E50;
 }

.footer h1{
  text-align: left;
  font-size: 15px;
  display:grid;
}

.footer p{
  font-size: 10px;

}
/*-------------------------------------Contact Me-------------------------------*/
form{

}
.message{
  width:100px;
}


/*-------------------------------------mobile responsive-------------------------------*/

@media screen and (max-width: 600px) {
  img{
    max-width:100%;
    height:auto;
  }
  .contenttext{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    justify-content: left;
  }

  .contenttext label{
    display: block;
    text-align: center;
  }

  }
/*-------------------------------------tablet responsive-------------------------------*/
@media screen and (max-width: 900px) {
  .desktop{
    display:none;
  }
  .row {
      grid-template-columns: auto ;
  }

  .header{
    display:grid;
    grid-template-columns: 30% 20% auto;
    height:50px;
  }

  .topnav{
    width:100%; /*when it scales down, this controls logo placement*/
    grid-template-columns: auto 60px;
    position:absolute;
    right:0px;
  }
  .topnav a{

  }

/*  .topnav a:not(.active) {
    display: none;
  }*/


  .topnav a.icon {
    display:block;
    padding:13px 10px 10px 10px;
    margin:0px;
    position: absolute;

  }
  .topnav.responsive {
    grid-template-columns: auto;
    opacity:.8;
  }
  .topnav.responsive.icon {

  }
  .topnav.responsive a {
    display: block;
  }
  .responsive .link{

  }

  .contactcontent{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }


}
/*-------------------------------------desktop responsive-------------------------------*/
@media screen and (min-width: 901px) {
  .mobile{
    display:none;
  }
  .topnav{
    grid-template-columns: 18% 18% 18% 18% auto;
    }
  .topnav a{
    margin: 5px 0;
    }
  .topnav a:not(:first-child){
    }
  .topnav a.icon {
    display:none;
  }
}
