

/*-------------------------------------Welcome Message-------------------------------*/
.welcome{
  text-align: center;
  color:white;
  font-family: 'Bitter', serif;
}
.background{
  position: absolute;
  width:100%;
}
.intro h1{
    position:absolute;
    margin-top:-30%;
    font-size: 5vw;
    margin-left: auto;
    margin-right: auto;
    font-weight:bold;
    left: 0;
    right: 0;
    text-align: center;
  }
.middle {
  position: relative;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.middle-content{
  display:flex;
  flex-wrap:wrap;
  margin:3%;
  justify-content: space-between;
  width:90%;
}
.middle .middle-content .card ul a{
  display:block;
}
.middle li{
  list-style: none;
}
.card{
  background-color:white;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction: row;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
}
.card p{
  color:#363E50;
  font-size:25px;
  margin: 14%;
}
.card h2{
  color:#9fc131;
  font-size: 30px;
  margin-bottom:0;
}
.card_link p{
  margin-left:60%;
  margin-bottom:10%;
  color:#9fc131;
  font-size:15px;
}
.showcase{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;

}
.showcase h1{
  font-size: 50px;
  color:#363E50;
  border-bottom: 5px solid #9fc131;
  font-family: 'Bitter', serif;
  padding-right: 5%;
}

.mainImage{
  display:flex;
  justify-content: center;
  width:100%;
  margin-top:2%;
}
.pprocess{
  background-color:#363E50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%;
}
.process-content{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: center;
}
.process-content p{
  margin-top:4%;
  margin-left: 2%;
  color:white;
}
.pprocess h2{
  margin-top:5%;
  margin-bottom:5%;
  font-size: 50px;
  border-bottom: 5px solid #9fc131;
  padding-right:5%;
}
.button{
  border:none;
  color: white;
  padding:3%;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 16px;
  margin: 7% 30%;
  transition-duration:0.4s;
  cursor: pointer;
}
.button{
  background: #363E50;
  color: white;
  border:3px solid #9fc131;
}
.button1:hover{
  background-color: #9fc131;;
  color:white;
  cursor: pointer;
  text-decoration: none;
}
.Caroucontainer{
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  margin-bottom: 4%;
}


/* ----------------------Footer---------------------------- */
.footer {
  background-color: #363E50;
  color: white;
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-top: 0%;
 }

.footer-content{
  border-top:1px solid white;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:80%;
}
.footer-section{
  padding: 0 2%;
}
.footer .footer-content .links ul a{
  display: block;
  margin-bottom:10px;
  margin-left: 10px;
  list-style-type: none;
}
.footer li{
  list-style-type: none;
  margin-left: 25px;
}
.footer h1{
  font-family: 'Bitter', serif;
  text-align: left;
  font-size: 18px;
  margin:20px;
  color:#9fc131;
}
.footer h2{
  font-family: 'Bitter', serif;
  margin-top:8%;
  margin-bottom:2%;
  font-size: 15px;
}
.footer .contact h1{
  margin-bottom:0;
}
.footer p{
  font-size:15px;
  margin:17%;
  margin-top:8%;
}
.footer a{
  margin-left:2%;
  text-decoration: none;
  color:white;
}
.footer a:hover {
  color: #9fc131;
}
.footer button{
  border:#9fc131;
  background-color: #9fc131;
  color: white;
  margin-top: 15px;
}


/*mobile view*/
@media screen and (max-width:950px){
.nav-toggle{
  display:none;
}
.nav-toggle-label{
  position:absolute;
  top:0;
  left:80%;
  height:27%;
  display:flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display:block;
  background:black;
  height:2px;
  width:2em;
  border-radius: 2px;
  position:relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content:'';
  position:absolute;
}
.nav-toggle-label span::before{
  bottom:7px;
}
.nav-toggle-label span::after{
  top:7px;
}

nav{
  position:absolute;
  text-align: center;
  width:100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li{
    margin-bottom:20%;
  }
  nav a{
    color:#363E50;
    font-size:20px;

  }
  nav a:hover{
    color:#9fc131;
  }

  .nav-toggle:checked ~ nav{
    transform: scale(1,1);
  }
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  .logo{
    display:none;
  }
.logo-small{
  background-color: white;
  display:flex;
  justify-content: center;
  z-index:999;
}

  .mainImage{
    margin-top:0%;
  }

  .card{
    margin:0%;
    width: 100%;
    margin-bottom: 3%;
  }

  .card ul{
    width: 100%;
    margin: 0%;
  }
  .ppprocess h2{
    margin-top:12%;
    margin-bottom:10%;
    margin-right:21%;
    color: white !important;
  }
  .ppprocess{
    color: white !important;
  }
  .photography, .websites, .print{
    margin-left: 20%;
    margin-top:10%;
  }
  .button{
    margin-top:3%;
  }
  .path19{
    margin-bottom:8%;
    margin-top:2%
  }
  .path18{
    margin-bottom: 7%;
  }

  .Caroucontainer{
    display: none;
  }

  .showcase {
    display: none;
  }


}

/*desktop view*/
@media screen and (min-width:950px){

  nav a::before{
    content:'';
    display:block;
    height:5px;
    background:#9fc131;
    position: absolute;
    top:-.75em;
    left:0;
    right:0;
    transform:scale(0,1);
    transform-origin: center;
    transition:transform ease-in-out 250ms;
  }
  nav a:hover::before{
    transform:scale(1,1);
    color:#9fc131
  }
  nav a:hover{
    color:#9fc131
  }
  .nav-links {
      display: flex;
      justify-content: space-around;
      width: 80%;
      font-size: 22px;
      height: 10vh;
      margin-top: 6%;
    }
  .nav-toggle{
      display:none;
    }
  .logo-small{
    display:none;
  }

  .card{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:30%;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }


}

.welcome{
padding-top: 2%;
align-items: center;
margin-left: auto;
margin-right: auto;
padding-bottom: 2%;

}
.welcome h1{
  text-align: center;
}

.ComingSoon{
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  font-family: 'Bitter', serif;
  color: white;
}


.WWD{
  padding-top: 4%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-bottom: 3px solid white;
  font-family: 'Bitter', serif;
  color: white;

}

.WWD h1{
  text-align: center;
  color:white;
  font-family: 'Bitter', serif;

}
/*
.WWD hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 20%;
  margin-right: 20%;
  border-style: inset;
  border-width: 3px;
}
*/
.WWDP{
  color: white;
  width: 60%;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.allservices{
  width:100%;

  color: white;
}
.first3Services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: 0% 5% -5% 5%;
}

.first3Services p{
  margin-top:10%;
  font-size:20px;
  text-align: left;
}
.first3Services li{
  text-align: left;
  font-size: 15px;
}
.service1{
  width: 25%;
}

.service2{
  width: 25%;
}

.service3{
  width: 25%;
}
.second3services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: 0% 5% 0% 5%;
}

.second3services p{
  margin-top:10%;
  font-size:20px;
  text-align: left;
}
.second3services li{
  text-align: left;
  font-size: 15px;
}
.service4{
width:25%;
}
.service5{
  width: 25%;
}
.service6{
  width: 25%;
}

/*-------------------------------------services mobile responsive-------------------------------*/

@media screen and (max-width: 950px) {

.first3Services{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.service1{
  width: 70%;
  padding-bottom: 5%;

}
.service2{
  width: 70%;
  padding-bottom: 5%;
}
.service3{
  width: 70%;
  padding-bottom: 5%;
}

.second3services{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.service4{
  width: 70%;
  padding-bottom: 5%;
}
.service5{
  width: 70%;
  padding-bottom: 5%;
}
.service6{
  width: 70%;
  padding-bottom: 5%;
  }
}

/*-------------------------------------tablet responsive-------------------------------*/
@media screen and (max-width: 1024px) {

.intro{
position: absolute;
margin-left: auto;
margin-right: auto;
font-weight: bold;
left: 0;
right: 0;
text-align: center;
}
}
  .first3Services{

  }
  .service1{
    margin-right:10%;
    padding-bottom: 5%;

  }
  .service2{
    margin-right:10%;
    padding-bottom: 5%;
  }
  .service3{
    padding-bottom: 5%;
  }

  .second3services{

  }
  .service4{
    margin-right:10%;
    padding-bottom: 5%;
  }
  .service5{
    margin-right:10%;
    padding-bottom: 5%;
  }
  .service6{

    padding-bottom: 5%;
    }


}

.AboutTitle{
  padding-top: 4%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-bottom: 3px solid white;
  font-family: 'Bitter', serif;
  color: white;
}

.AboutTitle h1{
  padding-top:4%;
  padding-bottom:3.6%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-bottom: 3px solid white;
  font-family: 'Bitter', serif;
  text-align: center;
  color: white;
}

/*
.AboutTitle hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 40%;
  margin-right: 40%;
  border-style: inset;
  border-width: 3px;
}
*/
.Paracontainer{
  padding-top: 15px;
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
}

.mobileimageG{
  display: none;
}
.MTF{
  text-align: center;
  color: #9fc131;
}

.leftp{
  text-align: right;
  padding-right: 15px;
}
.rightp{
  padding-left: 15px;
  text-align: left;
}
.GAC{
  justify-content: center;
  display: flex;
  color: white;
}
.Gabe{
  display: flex;
  width: 40%;
  flex-direction: row-reverse;
}

.GabeText{
  padding-top: 25%;
  text-align: right;
}

.GabeText h4{
  color: #9fc131;
}

.Courtney{
  display: flex;
  width: 40%;
}

.CourtneyText{
  padding-top: 1%;
}

.CourtneyText h4{
  color: #9fc131;
}

.Enough{
padding-bottom: 4%;
text-align: center;
width: 30%;
margin: auto;
color: white;
}

.mobileimageC{
  display: none;
}

/*-------------------------------------About Me mobile responsive-------------------------------*/

@media screen and (max-width: 950px) {

  body{
    overflow-x: hidden;
  }

  .desktopimageG{
    display: none;
  }
  .mobileimageG{
    display: flex;
  }

  .desktopimageC{
    display: none;
  }

  .mobileimageC{
    display: flex;
  }

  .GAC{
    display: flex;
    flex-direction: column;
  }

  .Gabe{
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .GabeText{
    width: 50%;
    text-align: center;
    padding-top: 0%;
  }

  .Courtney{
    width: 100%;
    justify-content: center;
  }
  .CourtneyText{
    width: 50%;
    text-align: center;
    padding-top: 0%;
  }

  .Paracontainer{
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
  }

  .leftp{
    text-align: left;
    padding-right: 0;
    padding-bottom: 15px;
  }

  .rightp{
    padding-left: 0;
  }

  .Enough{
    width: 80%;
  }

}

/*-------------------------------------tablet responsive-------------------------------*/
@media screen and (max-width: 1024px) {

  body{
    overflow-x: hidden;
  }

  .desktopimageG{
    display: none;
  }
  .mobileimageG{
    display: flex;
  }

  .desktopimageC{
    display: none;
  }

  .mobileimageC{
    display: flex;
  }

  .GAC{
    display: flex;
    flex-direction: column;
  }

  .Gabe{
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .GabeText{
    width: 50%;
    text-align: center;
    padding-top: 5%;
  }

  .Courtney{
    width: 100%;
    justify-content: center;
  }
  .CourtneyText{
    width: 50%;
    text-align: center;
    padding-top: 2%;
  }

  .Enough{
    width: 80%;
  }
}

.contacttext{
  color: white;
  text-align: center;
}

.contactcontent{
  color: white;
  margin-left: 30%;
  margin-right: 30%;

}

.Chat {
  padding-top: 4%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid white;
  font-family: 'Bitter', serif;


  width: 20%;
}
.Chat h1{
  text-align: center;
  color: white;
}

input{
  width: 100%;
  line-height: 34px;
}

textarea{
  width: 100%;
}

/*
.Chat hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 45%;
  margin-right: 45%;
  border-style: inset;
  border-width: 3px;
}
*/
.names{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom:2%;
}

.firstname{
  display: flex;
  padding-right: 14px;
}

.lastname{
  display: flex;
  padding-left: 14px;
}
.Email{
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.message{
  display: flex;
  justify-content: center;
}

.messsub{
  display: flex;
  flex-direction: column;
}
.Submit{
  display: flex;
  justify-content:flex-end;
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input{
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}

.firstnamemobile{
  display: none;
}

.lastnamemobile{
  display: none;
}

.Emailmobile{
  display: none;
}

.messagemobile{
  display: none;
}

.contacttextmobile{
  display: none;
}

.Submitmobile{
  display: none;
}
/*-------------------------------------contact mobile responsive-------------------------------*/

@media screen and (max-width: 950px) {
  body{
    overflow-x: hidden;
  }

  .firstnamemobile{
    display: flex;
    padding-bottom: 1%;
  }

  .firstname{
    display: none;
  }

  .lastnamemobile{
    display: flex;
    padding-bottom: 1%;
  }

  .lastname{
    display: none;
  }

  .Emailmobile{
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5%;
  }

  .Email{
    display: none;
  }

  .names{
    flex-direction: column;
    padding-bottom: 0;
    align-items: center;
  }

  .contactcontent{
    margin-left: 8%;
    margin-right: 8%;
    align-items: center;
  }

  .message{
    display: none;
  }

  .messagemobile{
    display: flex;
    justify-content: center;
  }

  .Submit{
    display: none;
  }

  .Submitmobile{
    display: flex;
    justify-content: center;
  }

  .contacttext{
    display: none;
  }

  .contacttextmobile{
    color: white;
    display: flex;
    text-align: left;
    margin: auto;
    padding-top: 6%;
    padding-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
  }

  .Chat{
    width: 40%;
  }
}



* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}
body{
  font-family:'Bitter', sans-serif;
  font-size:16px;
}
a{
  color:#363E50;;
  text-decoration: none;

}
header{
  text-align: center;
  width:100%;
}
h1{
  margin-bottom: 0;
  font-family:'Bitter';
  color:white;
}
h2{
  font-size: 40px;
  margin-top:8%;
  font-family:'Bitter';
  color:white;
}
p{
  margin-top: 5px;
  font-family: sans-serif;
}
hr{
  text-align: center;
  margin:0 auto;
  width:40%;

}
/* navigation styles */
nav{
  display:flex !important;
  justify-content: center;
  align-items: center;
  background-color:white;
  padding: 0 15px;
}
nav a{
  position:relative;
}

.nav-links a{
  width:100%;
  color:#363E50;
  text-decoration: none !important;
  letter-spacing: none;
  }

.logo{
  display:flex;
  position:relative;
  justify-content: center;
  margin-top:-7%;
}

/*mobile view*/
@media screen and (max-width:950px){
.nav-toggle{
  display:none;
}
.nav-toggle-label{
  position:absolute;
  top:0;
  left:80%;
  height:27%;
  display:flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display:block;
  background:black;
  height:2px;
  width:2em;
  border-radius: 2px;
  position:relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content:'';
  position:absolute;
}
.nav-toggle-label span::before{
  bottom:7px;
}
.nav-toggle-label span::after{
  top:7px;
}

nav{
  position:absolute;
  text-align: center;
  width:100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li{
    margin-bottom:20%;
  }
  nav a{
    color:#363E50;
    font-size:20px;

  }
  nav a:hover{
    color:#9fc131;
  }

  .nav-toggle:checked ~ nav{
    transform: scale(1,1);
  }
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  .logo{
    display:none;
  }
.logo-small{
  background-color: white;
  display:flex;
  justify-content: center;
  z-index:999;
}
  .mainImage{
    margin-top:2%;
  }
  .responsive{
    max-width:100%;
    height:auto;
  }
  .card{
    margin:5%;
  }
  .process h2{
    margin-top:12%;
    margin-bottom:10%;
    margin-right:21%;
  }
  .photography, .websites, .print{
    margin-left: 20%;
    margin-top:10%;
  }
  .button{
    margin-top:3%;
  }
  .path19{
    margin-bottom:8%;
    margin-top:2%
  }
  .path18{
    margin-bottom: 7%;
  }

}
