.welcome h1{
  padding-top: 0%;
  text-align: center;
  color: white;
}

.ComingSoon{
  text-align: center;
  padding-bottom: 15%;
}


/*-------------------------------------mobile responsive-------------------------------*/

@media screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }

}

/*-------------------------------------tablet responsive-------------------------------*/
@media screen and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }

}
