* {
  box-sizing:border-box;
  padding:0;
  margin:0;
}
body {
  background-color:#363E50;
  font-family:'Bitter', sans-serif;
  font-size:16px;
}

nav{
  background:white;
  padding: 0 15px;
}
a{
  color:#363E50;;
  text-decoration: none;
}
h1{
  margin-bottom: 0;
  font-family:'Bitter';
  color:white;
}
h2{
  font-size: 40px;
  margin-top:8%;
  font-family:'Bitter';
  color:white;
}
p{
  margin-top: 5px;
  font-family: sans-serif;
  color:white
}
hr{
  text-align: center;
  margin:0 auto;
  width:40%;

}


/*-------------------------------------Menu-------------------------------*/
.parent{
  list-style-type: none;
  margin-bottom: 3%;
}
.logo{
  display: none;
 /*flex:1; pushs the logo and hamburger icon apart*/
}
.child-1, .child-2{
  padding:10px;
}

.child-1:not(.button) a:hover,
.child-1 a:hover::after{
  color:#9fc131;
}
.child-2:not(.button) a:hover,
.child-2 a:hover::after{
  color:#9fc131;
}

/*-------------------------------------Banner Image-------------------------------*/
.mainImage{
  display: flex;
  justify-content: center;
}

/*-------------------------------------Welcome Message-------------------------------*/
.welcome{
  margin-top:5%;
  width:100%;
  text-align: center;
}
.process{
  text-align: center;
}

/*Mobile Menu */
.parent{
  display:flex;
  flex-wrap:wrap;
  justify-content: left;
  align-items:center; /*aligns vertical centers*/
}

.parent li a{
  display:block;
  padding:15px 5px;
}

.toggle{
  order:1;/*moves it from the bottom to the top bc you gave it the first spot BUT ALSO gave the other items an order # too. in the .html its the last item on the list*/
  font-size:20px;
}

.child-1, .child-2{
width:100%;
text-align: center;
display:none;
}

.active .item{
  display:block;
}
.button.secondary{
  border-bottom: 1px #444 solid;
}
.processGroup{
  display:flex;
  justify-content: center;
}

/*Mobile Buttons*/
.mainButtons{
  margin-top:5%;
  margin-bottom: 5%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

/*Mobile Footer */
.footer {
  color: white;
  width:100%;
  display:flex;
  flex-wrap:wrap;
 }
.footer-content{
  border-top:1px solid white;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.footer-section{
  padding:5px 50px;
}
.footer .footer-content .links ul a{
  display: block;
  margin-bottom:10px;
  margin-left: 10px;
  list-style-type: none;
}
.footer li{
  list-style-type: none;
  margin-left: 25px;
}
.footer h1{
  font-family: 'Bitter', serif;
  text-align: left;
  font-size: 18px;
  margin:20px;
  color:#9fc131;
}
.footer h2{
  font-family: 'Bitter', serif;
  margin-top:8%;
  margin-bottom:2%;
  font-size: 15px;
}
.footer .contact h1{
  margin-bottom:0;
}
.footer p{
  font-size:10px;
  margin:20px;
  margin-top:0;
}
.footer a{
  margin-left:2%;
  text-decoration: none;
  color:white;
}
.footer form{
  font-family: 'Bitter', serif;
  display:flex;
}
.footer a:hover {
  color: #9fc131;
}
.footer button{
  border:#9fc131;
  background-color: #9fc131;
  color: white;
  margin-top: 15px;
}
.icons{
  margin-top:1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-------------------------------------Footer-------------------------------*/


/*tablet menu*/
@media all and (min-width:700px){
  .parent{
    justify-content:center;
    font-family:'Bitter';
  }
  .logo{
    display:none;
  }
  .item.button{ /*put button in the middle*/
    width:auto;
    order:1;
    display:block;
  }
  .toggle{
    flex:1; /*tells browser to split it the space equally between any elements*/
    text-align: right;
    order:2;
  }
  .footer {
    display:flex;
    justify-content: center;
   }
  .footer-content{
    display:flex;
    justify-content: center;
  }
}
/*desktop menu*/
@media all and (min-width: 960px){
  .parent{
    color:white;
    padding:100px 100px 10px 100px;
    font-size: 20px;
  }
  .child-1{
    padding:0px 50px 5px 35px;
    position:relative;
    display:flex;
    top:-40px;
    right:12%;
    width:auto;
  }
  .child-2 {
    padding:0px 50px 5px 35px;
    position:relative;
    display:flex;
    top:-40px;
    left:12%;
    width:auto;
  }

  .toggle{
    display:none;
  }
  .logo-small{
    display:none;
  }
  .logo{
    display:flex;
    position: absolute;
    top:0px;
    left:40%;
    align-items: center;
  }
  .mainImage{
    display:flex;
    justify-content: center;
    width:100%;
  }
  .mainButtons{
    display:flex;
    justify-content: center;
    padding-top: 20px;
  }
  .footer {
    display:flex;
    justify-content: center;
   }
  .footer-content{
    display:flex;
    justify-content: center;
  }

}
